server:
  port: 8082
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8762/eureka/
      
spring:   
  datasource:
    password: pass@word1
    url: jdbc:mysql://localhost:3306/shopping?allowPublicKeyRetrieval=true&useSSL=false
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect